{% extends 'base.html.twig' %}


{% block title %} Modification de mot de pass {% endblock %}

{% block body  %}
    <div class="container">
        <h1>Modification de mot de pass</h1>

        <div class="container">
        <h1>Modification du mot de pass </h1>

        {{form_start(form) }}

        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Enregistrer les Modifications</button>

        {{form_end(form)}}
    </div>
    
    </div>
{% endblock %}