{% extends 'base.html.twig' %}
{% block title %}
	Bienvenue sur le meilleur réseau d'appartement
{% endblock %}
{% block body %}
<div class="container">
	<div class="jumbotron mt-3">
		<h1 class="display-3">Bienvenue sur symBNB !</h1>
		<p class="lead"> Nous mettons en relations le voyageurs et les propriétaires qui voulent profiter des opportunirées et gagner de l'argent en proposant
		laurs biens à louer.</p>
		<hr class="my-4">
		<p>vous avez envie de voyager? Et vous voulez voir ou vous loger pour votre prochain voyage ?</p>
		<p class="lead">
			<a class="btn btn-primary btn-lg" href="#" role="button">Voir nos offres</a>
		</p>
	</div>

	<h2 class="h1 mt-3 mb-4"> Nos appartements stars</h2>

	<div class="row">
		<div class="col-md-4">
			<div class="card bg-light mb-3">
				<div class="card-header text-center">
					3 chambres, <strong>49&euros/nuir</strong><br>
					<small> Pas encore noté</small>
				</div>

				<img src="http://placehold.it/1000x400" alt="Image de l'appartement" 
				style="height: 200px; width: 100%; display: block">

				<div class="card-body">
					<h4 class="card-title">
						Appartement de oufs
					</h4>
					<p class="card-text">
						Lorem ipsum dolor sit amet consectetur,
						 adipisicing elit. Hic eligendi nobis neque
						  animi cumque tenetur placeat omnis consectetur 
						  sint nisi.
					</p>
					<a href="#" class="btn btn-secondary">En savoir plus</a>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card bg-light mb-3">
				<div class="card-header text-center">
					3 chambres, <strong>49&euros/nuir</strong><br>
					<small> Pas encore noté</small>
				</div>

				<img src="http://placehold.it/1000x400" alt="Image de l'appartement" 
				style="height: 200px; width: 100%; display: block">

				<div class="card-body">
					<h4 class="card-title">
						Appartement de oufs
					</h4>
					<p class="card-text">
						Lorem ipsum dolor sit amet consectetur,
						 adipisicing elit. Hic eligendi nobis neque
						  animi cumque tenetur placeat omnis consectetur 
						  sint nisi.
					</p>
					<a href="#" class="btn btn-secondary">En savoir plus</a>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card bg-light mb-3">
				<div class="card-header text-center">
					3 chambres, <strong>49&euros/nuir</strong><br>
					<small> Pas encore noté</small>
				</div>

				<img src="http://placehold.it/1000x400" alt="Image de l'appartement" 
				style="height: 200px; width: 100%; display: block">

				<div class="card-body">
					<h4 class="card-title">
						Appartement de oufs
					</h4>
					<p class="card-text">
						Lorem ipsum dolor sit amet consectetur,
						 adipisicing elit. Hic eligendi nobis neque
						  animi cumque tenetur placeat omnis consectetur 
						  sint nisi.
					</p>
					<a href="#" class="btn btn-secondary">En savoir plus</a>
				</div>
			</div>
		</div>
	
	</div>

	<h2 class="h1 mt-3 mb-4">Nos propriétaires stars </h2>

	<div class="row">
		<div class="col">
			<div class="card border-secondary mb-3">
				<div class="card-body">
					<h4 class="card-title">Noreddine <strong>benkbnek</strong></h4>
				
					<hr>

					<div class="card-text">
						<img src="http://placehold.it/64x64" alt="avatar de noreddine benkbenk" 
						class="float-left mr-3">

						<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
						Vitae, laboriosam?</p>

						<a href="#" class="btn btn-success float-right"> en savoir plus</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card border-secondary mb-3">
				<div class="card-body">
					<h4 class="div card-title"> <strong>toto levoloi</strong></h4>

					<hr>

					<div class="card-text">
						<img src="http://placehold.it/64x64" alt="avatar de toto levaloi" 
						class="float-left mr-3">

						<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, adipisci?</p>

						<a href="#" class="btn btn-success float-right">en savoir plus</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
