{% extends 'base.html.twig' %}

{% block title %}coucou {{ name }}!{% endblock %}
{% block header %}
	<h3> voici le header</h3>
{% endblock %}

{% block body %}
	<h4> bonjour {{ name }} avez vous vraiment {{ age }} ?</h4>
{% endblock %}