{% extends 'base.html.twig' %}

{% block title %} Vous n'avez pas le droit{% endblock %}

{% block body %} 
    <div class="container">
        <h1>Alors ? vous essaayer de bousiller le site ?</h1>
        <div class="alert alert-danger">
            <p>Vous n'avez pas le droit d'acceder à cette ressources</p>
            <p>{{ exception.message }}</p>
        </div>
        <a href="{{path('homepage')}}" class="btn btn-primary">Rerour à l'accuil</a>

    </div>

{% endblock %}

